@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(111.5deg, rgb(187, 232, 255) 11.1%, rgb(4, 78, 116) 107.5%);
}

.weather_main {
  display: flex;
  flex-direction: row;
}
.weather_icon {
  font-size: 100px;
}

.weather_temp {
  font-size: x-large;
  text-align: center;
  margin-bottom: 75px;
}

.weather_name {
  font-size: xx-large;
  font-weight: bold;
  margin-right: 10vw;
}

.weather_feelslike {
  text-align: center;
}

.weather_humidity {
  text-align: center;
}

@media (max-width: 500px) {
  .weather_name {
    margin-right: 4vw;
  }
  .weather_icon {
    font-size: 80px;
  }
}

@media (max-width: 350px) {
  .weather_main {
    flex-direction: column;
  }
  .weather_icon {
    align-self: center;
    margin-right: 0px;
  }
}